@import url(normalize.css);
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url(../../assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'),
      url(../../assets/fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular'),
      url(../../assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
      url(../../assets/fonts/Roboto-Light.ttf);
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url(../../assets/fonts/Roboto-Thin.ttf);
    font-weight: 100;
    font-style: normal;
  }
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    line-height: 140%;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    font-family: Roboto, Verdana, sans-serif;
}
p, h1 {
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    background-color: #e7e7e7;
}
.header-block {
    height: 300px;
    width: 100%;
    background: url(assets/images/bc-image-black.jpg) 50% no-repeat;
    position: relative;
}
.header-logo {
    position: absolute;
    top: 250px;
    left: 270px;
    background-color: white;

}
.header-logo h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 3px;
}
.container {
    display: flex;
    flex-direction: row;
}
.book-gallery {
    width: 510px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.book {
    position: relative;
    /* display: flex;
    flex-direction: column; */
    width: 200px;
    border-radius: 8px;
    background-color: white;
    /* border: 1px solid black; */
    filter: drop-shadow(2px 2px 3px rgb(204, 204, 204));
    margin: 10px;
}
.book img {
    height: 300px;
    width: 200px;
    border-radius: 8px 8px 0 0;
}
.book-title {
    padding: 0 4px 0 4px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(45, 45, 45);
}
.book-author {
    padding: 0 4px 40px 4px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(131, 131, 131);
}
.book-details {
    width: 192px;
    position:absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 4px 8px 4px;
}

.more-label {
    width:100px;
    text-decoration: underline;
}
.button-add-to-cart {
    float: right;
    border: none;
    padding: 3px 5px 3px 5px;
    border-radius: 4px;
    background-color: rgb(34, 148, 224);
    color: white;
    font-weight: 500;
}
.button-add-to-cart:hover {
    background-color: rgb(15, 111, 174); 
}
.shopping-cart {
    width: 510px;
    margin: 10px;
    border-radius: 8px;
    background-color: white;
    padding: 4px;
}